<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Login</title>
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    {% if form.errors %}
      <script>
        M.toast({html: "Your username and password didn't match. Please try again."})
      </script>
    {% endif %}
    <div class="row">
      <form action="{% url 'login' %}" class="col s12" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'lab_list' %}">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <input id="id_username" name="username" type="text">
            <label for="id_username">Username</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="id_password" name="password" type="password">
            <label for="id_password">Password</label>
          </div>
          <div class="col s12">
            <button class="btn red" type="submit">Login</button>
          </div>
          <a class="btn-flat waves-effect waves-red" href="{% url 'signup' %}">
            Registrarse
          </a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
