<div class="fixed-action-btn">
  <a class="btn-floating btn-large modal-trigger red waves-effect waves-light" href="#id_modal">
    <i class="large material-icons">add</i>
  </a>
</div>
<div id="id_modal" class="modal">
  <div class="row">
    <form action="{% url 'lab_create' %}" class="col s12" method="post">
      {% csrf_token %}
      <div class="modal-content">
      <h4>Crear Laboratorio</h4>
      <div class="row">
        {{ form.errors }}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'lab_list' %}">
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn-flat modal-close waves-effect waves-red">Cancelar</a>
      <button class="btn-flat modal-close waves-effect waves-red" type="submit">Crear</button>
    </div>
    </form>
  </div>
</div>
